<div id="project-content">
	<div id="project-content-text">
		<h1>{{this.title}}</h1>
		<h2>{{this.desc}}</h2>
	</div>
</div>

<canvas id="canvas"></canvas>
<video preload="auto" muted  poster="src/img/{{this.poster}}.jpg">
		 <source src="src/video/WEBM/{{this.video}}.webm" type="video/webm">
	 <source src="src/video/MP4/{{this.video}}.mp4" type="video/mp4">

</video>
