<div id="projects-content">
{{!-- 	{{#each projects}}
		<div id="project{{@key}}" class="project">
			<div id="project-content">
				<div id="project-content-text">
					<h1>{{this.title}}</h1>
					<h2>{{this.desc}}</h2>
				</div>
			</div>

			<canvas id="canvas{{@key}}"></canvas>
			<video autoplay muted loop src="src/video/{{this.video}}">
			</video>
		</div>
	{{/each}} --}}
	
</div>
